body{
    background-color:#1f1e1e ;
    margin: 0px;
    padding: 0px;
    text-align: center;

    
}
h1{
    text-align: center;
    color: aliceblue;
}

.todopage{  
    background-color: #353434;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 2%;
    margin-top: 3%;
    max-height: 80vh;
    box-shadow: 0px 5px 7px rgb(35, 35, 35);

}

.todo-input{
    display: flex;
    border-bottom: 1px solid grey ;
    padding-bottom: 25px;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
}

.label-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 25px;
    
}

label{
    font-weight: 700;
}

button{
    cursor: pointer;
}

.buttons{
    text-align: left;
}
input{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border: 0px;
    margin-top: 5px;
    border-radius: 5px;

}

.my-button{
    background-color: rgb(229, 17, 17);
    color: white;
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;

}

.sec-button{
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: rgb(79, 79, 79);

}

.active{
    background-color: rgb(229, 17, 17);
}

.todolist-area {
    background-color: #414040;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 5px;
    margin-top: 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}


.toadd{
    display: flex;
    align-items: start;
    padding-left: 25px;
}

h2{
    color: rgb(229, 17, 17);
    font-weight: 900;
}

#description{
    margin-top: -10px;
    color: gray;
}

#iconss {
    display: flex;
    align-items: center;
    padding-right: 75px;
}

.icons{
    font-size: 35px
}

#deleteicon{
    cursor: pointer;
}

#deleteicon:hover{
    color: rgb(229, 17, 17) ;
}

#tickicon{
    cursor: pointer;
}

#tickicon:hover{
    color: rgb(229, 17, 17) ;
}

.edit{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.edit input, .edit textarea{
    border: 1px solid lightgrey;
    margin: 5px;
    border-radius: 3px;
}




